:host .about {
    padding: 30px 60px 30px 40px;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__drew-image {
        width: 600px;
        height: 250px;
        border: none;
        background: url("../../../assets/images/drew.jpg") no-repeat;
        border-radius: 100%;
        padding-right: 110px;
    }

    &__bio-section {
        padding-left: 25px;
        margin: 0 0 0 25px;
    }

    &__bio-tagline {
        color: var(--black);
        font-weight: 600;
        font-size: 20px;
    }

    &__bold {
        font-weight: 600;
    }

    &__link {
        text-decoration: none;
    }

    @media screen and (max-width: 768px) {
        padding: 10px 40px 30px 40px;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__bio-section {
            padding: 0px;
            align-content: center;
            margin: 0px;
        }

        &__drew-image {
            width: 150px;
            height: 150px;
            margin: 0px 0px 25px 0px;
            padding-right: 0px;
            background: url("../../../assets/images/drewCompressed.jpg") no-repeat;
        }
    }
}