<footer class="footer">
    <div class="footer__container">
        <span class="footer__text">
            Drew Post © 2022
        </span>
        <div class="footer__container-links">
            <a class="footer__link" href="https://www.linkedin.com/in/drew-post" target="_blank" rel="noopener noreferrer">
                LinkedIn
            </a>
            <a class="footer__link" href="https://github.com/drew-post" target="_blank" rel="noopener noreferrer">
                Github
            </a>
        </div>
    </div>
</footer>
