:host .sygnomics {
    padding: 30px 30px 30px 55px;

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    &__title {
        font-weight: 500;
        padding-bottom: 10px;
    }

    &__desc-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 15px;
    }

    &__link {
        padding-left: 3px;
        padding-right: 3px;
    }

    &__second-title {
        font-weight: 600;
        padding-right: 8px;
    }

    &__description {
        align-content: center;
    }

    @media screen and (max-width: 768px) {
        padding: 10px 40px 30px 40px;

        &__title {
            font-size: 22px;
        }

        &__desc-container {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}