:host .sygnomics {
    padding: 30px 30px 30px 55px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px 10px 10px;
    }

    &__picture-container {
        padding: 0 50px 25px 50px;
        align-self: center;
    }

    &__sygnomics-image {
        width: 350px;
        height: 373px;
        position: relative;
        padding: 0;
    }

    &__source {
        font-size: 12px;
        font-weight: 400;
        font-style: italic;
    }

    &__source-link {
        font-size: 12px;
        font-weight: 400;
        font-style: italic;
    }

    &__source-link:hover {
        font-family: 'Lora', serif;
        font-size: 14px;
        font-style: italic;
    }

    &__title-container {
        display: inline-flex;
        flex-direction: row;
        align-items: baseline;
        padding-bottom: 5ox;
    }

    &__title-first {
        font-family: 'Lora', serif;
        font-weight: 600;
        font-style: italic;
        padding-right: 10px;
    }

    &__title-second {
        font-weight: 600;
        font-style: italic;
    }

    &__find-out-more-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 17px;
        font-weight: 400;
    }

    &__find-out-more-link:hover {
        font-family: 'Lora', serif;
        font-style: italic;
        font-size: 17px;
    }

    &__tech-stack-container {
        padding-bottom: 35px;
    }

    &__desc-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 15px;
    }

    &__description {
        align-content: center;
        font-weight: 400;
    }

    @media screen and (max-width: 768px) {
        padding: 10px 40px 30px 40px;
        flex-direction: column;

        &__title-container {
            flex-direction: column;
            padding-bottom: 10px;
        }

        &__title-first {
            font-size: 22px;
            padding-right: 7px;
        }

        &__title-second {
            font-size: 22px;
        }

        &__desc-container {
            flex-direction: column;
            align-items: flex-start;
        }

        &__second-title {
            padding: 0;
            margin: 10px 0 5px 0;
        }

        &__sygnomics-image {
            width: 275px;
            height: 300px;
        }
    }
}