<div class="home-page">
    <div class="home-page__container">
        <div class="home-page__text-container">
            <div class="home-page__title-container">
                <h1 class="home-page__title-first-word">Software</h1>
                <h1 class="home-page__title">Engineer</h1>
            </div>
            <div class="home-page__sub-title-container">
                <h2 class="home-page__sub-title-first">Currently based in</h2>
                <h2 class="home-page__sub-title">Houston, Texas</h2>
            </div>
            <div class="home-page__route-container">
                <a class="home-page__about-route" routerLink="/about" routerLinkActive="active">About Me →</a>
                <a class="home-page__work-route" routerLink="/projects" routerLinkActive="active">View Work →</a>
            </div>
        </div>
        <div class="home-page__mobile-picture-container">
            <a class="home-page__mobile-picture"></a>
        </div>
    </div>
</div>
