<div class="home-page">
    <div class="home-page__container">
        <div class="home-page__text-container">
            <img class="home-page__title" src="assets/images/headlineText.png"/>
            <div class="home-page__route-container">
                <a class="home-page__about-route" routerLink="/about" routerLinkActive="active"></a>
                <a class="home-page__work-route" routerLink="/projects" routerLinkActive="active"></a>
            </div>
        </div>
    </div>
</div>
