:host .home-page {
    width: 100%;
    height: 700px;

    &__container {
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/images/homePageBackground.gif");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 14%;
    }

    &__title {
        width: 53%;
        height: 53%;
        padding-bottom: 4%;
    }

    &__route-container {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    &__about-route {
        width: 228px;
        height: 60px;
        margin-left: 7px;
        background: url("../../../assets/images/aboutMeLink.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__work-route {
        width: 228px;
        height: 72px;
        background: url("../../../assets/images/viewWorkLink.png");
        background-repeat: no-repeat;
        background-size: contain;
        
    }

    @media screen and (max-width: 1024px) {
        height: 100%;

        &__container {
            background-image: none;
        }

        &__text-container {
            align-items: center;
            padding: 5%;
        }

        &__title {
            width: 95%;
            height: 95%;
            padding-bottom: 10%;
        }

        &__about-route {
            width: 120px;
            height: 32px;
        }

        &__work-route {
            width: 120px;
            height: 100px;
        }

        &__mobile-picture-container {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
        }

        &__mobile-picture {
            width: 220px;
            height: 220px;
            background: url("../../../assets/images/homePageBackgroundMobile.gif");
            background-size: contain; 
            background-position: center;
        }
    }
}