:host .projects {
    padding: 30px 40px 30px 40px;

    a:link {
        text-decoration: none;
        color: var(--black);
    }

    a:visited {
        text-decoration: none;
        color: var(--black);
    }

    a:hover {
        text-decoration: none;
        color: var(--black);
    }

    a:active {
        text-decoration: none;
        color: var(--black);
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 8%;
    }

    &__link-container {
        padding-right: 10%;
        align-items: center;
    }

    &__card-container {
      padding: 15px;
      display: flex;
      flex-direction: column;
      opacity: 1;
      border-radius: 5%;
      overflow: hidden;
      background-color: var(--card-color);
      margin-bottom: 35px;
      transition: all .3s ease-in-out;
    }

    &__card-container:hover {
      transform: scale(1.1);
    }

    &__tag-container {
      display: flex;
      flex-direction: row;
    }

    &__image:hover {
      opacity: 0.7;
    }

    &__image {
      height: 350px;
      width: 350px;
      border: none;
      cursor: pointer;
      border-radius: 5%;
    }

    &__info {
      padding-top: 10px;
    }

    &__title-text {
        padding: 15px 0 15px 0;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        margin-left: 5px;
    }

    &__title-text:hover {
        font-family: 'Lora', sans-serif;
        font-size: 20px;
    }


    @media screen and (max-width: 768px) {
        padding: 30px 32px 30px 32px;

        &__container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 0;
        }

        &__link-container {
            padding: 0;
        }

        &__link {
            &--andioop {
                height: 270px;
                width: 270px;
            }
            &--meetTheTeam {
                height: 270px;
                width: 270px;
            }
            &--chatApp {
              height: 270px;
              width: 270px;
            }
            &--weatherApp {
              height: 270px;
              width: 270px;
            }
            &--personalWebsite {
                height: 270px;
                width: 270px;
            }
            &--sygnomics {
                height: 270px;
                width: 270px;
            }
            &--targetSumGame {
                height: 270px;
                width: 270px;
            }
            &--bakesaleApp {
                height: 270px;
                width: 270px;
            }
        }
    }
}
