* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Lora', serif;
}

html {
    background: url('./assets/images/background.png') center center;
    background-size: 100%;
}

html, body, h1, h2, p, div, button {
    padding: 0;
    margin: 0;
}

:root{
    --main-bg-color: #EBE9E4;
    --white: #FFFFFF;
    --black: #000000;
    --sage-green: #9CAF88;
}